.Services-container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'item1 item2 item3'
    'item1 item4 item3';
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 1em 2em;
    padding: 2% 10%; 
    /* grid-auto-flow: rows; */
}

.card1 {
    grid-area: item1;
}

.card2 {
    grid-area: item2;
}

.card3 {
    grid-area: item3;
}

.card4 {
    grid-area: item4;
}

@media screen and (max-width: 1080px) and (min-width: 375px) {
    .Services-container {
        display: flex;
        flex-flow: column wrap;
        /* justify-content: center; */
        align-items: center;
        padding: 0%;

    }
}


